* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: whitesmoke;
}

body {
    background-image: url(overviewPhoto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 
  
.text-center {
    text-align: center;
}

h1, p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#header-container {
    margin-top: 25px;

}

form {
    box-sizing: border-box;
    display: block;
    padding: 2.5rem;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(75, 80, 108, 0.5);
}

.form-control {
    width: 430px;
    padding: 3px 0px 3px 3px;

}

#dropdown {
    width: 436px;
}

#comment {
    width: 430px;  
}

.form-group {
    margin-top: 15px;  
}

.submit-button {
    width: 430px;
    padding: 10px 3px;
    background-color: green;
    font-size: 18px;
    border: none;
}

.redirect-button {
    width: 220px;
    padding: 10px 3px;
    background-color: green;
    font-size: 12px;
    border: none;
    margin: auto;
    display: block;
    text-align: center;
}